/* FOOTER */
.footer {
  background:#353535;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  width: 100%;
  margin-top: 10rem;
}

.footer img {
  width: 10%;
  margin: 0 auto;
  border-radius: 20%;
}
  
.copyright {
  width: 100%;
  margin: 4px auto;
  color: gray;
  font-size: 12px;
}

.footer .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 10px auto;
  color: gray;
  font-size: 12px;
}
  
.footer .row a {
  text-decoration: none;
  transition: 0.5s;
}
  
.footer .row a:hover {
  color:#fff;
}
  
.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}
  
/* MEDIA QUERY */
@media (max-width:900px) {
  .footer .row {
    margin: 10px 5px;
    font-size: 10px;
  }

  .copyright {
    margin: 3px auto;
    font-size: 12px;
  }
}

@media (max-width:780px) {
  .footer .row {
    margin: 10px 8px;
    font-size: 9px;
  }

  .copyright {
    margin: 3px auto;
    font-size: 12px;
  }
}

@media (max-width:720px) {
  .footer .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 510px) {
  .footer .row {
    margin: 10px 8px;
    font-size: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .copyright {
    margin: 3px auto;
    font-size: 12px;
  }
}