/* FOOTER */
.footer {
  background-image: linear-gradient(
      to right bottom,
      rgba(92, 16, 16, 0.5),
      rgba(92, 16, 16, 0.5)
    ),
    url("/red-banner-bg.jpeg");
  background-size: cover;
  background-position: center;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  width: 100%;
  margin-top: 10rem;
}

.footer img {
  width: 10%;
  margin: 0 auto;
  border-radius: 20%;
}
  
.copyright {
  width: 100%;
  margin: 4px auto;
  color: gray;
  font-size: 20px;
}

.footer .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 40%;
  margin: 3rem auto;
  color: gray;
  font-size: 15px;
}
  
.footer .row a {
  transition: 0.5s;
}
  
.footer .row a:hover {
  color:#fff;
  text-decoration: underline;
}
  
.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}
  
/* MEDIA QUERY */

@media (max-width:1020px) {
  .footer .row {
    width: 70%;
  }
}

@media (max-width:800px) {
  .footer .row {
    width: 75%;
    margin: 2rem auto;
    font-size: 12px;
  }

  .copyright {
    font-size: 16px;
  }
}

@media (max-width:630px) {
  .footer .row {
    width: 80%;
    margin: 2rem auto;
    font-size: 10px;
  }

  .copyright {
    font-size: 14px;
  }
}

@media (max-width:530px) {
  .footer .row {
    width: 100%;
    margin: 1rem auto;
    font-size: 10px;
  }

  .copyright {
    font-size: 12px;
  }
}