@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

main {
  background-color: rgb(239, 238, 238);
}

.red-background-image {
  background-image: url("/red-banner-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* CAROUSEL */
.image-carousel img {
  background-size:cover;
  transition: opacity 0.5s ease-in-out;
  margin-bottom: 2rem;
}

.fade img {
  opacity: 0.2;
  animation: fadeIn 0.2s ease-in-out forwards;
}

/* factsSection */
.factsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* QuickFacts */
.bg-img-qf {
  margin: auto;
  padding: 2rem;
  box-shadow: rgba(60, 1, 1, 0.4) 0px 0px 0px 3px, rgba(60, 1, 1, 0.3) 0px 0px 0px 6px, rgba(60, 1, 1, 0.2) 0px 0px 0px 9px, rgba(60, 1, 1, 0.1) 0px 0px 0px 12px, rgba(60, 1, 1, 0.05) 0px 0px 0px 15px;
}

/* CenterCAROUSEL */
.hs-carousel {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.hs-carousel img {
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
}

.fade img {
  opacity: 0.2;
  animation: fadeIn 0.2s ease-in-out forwards;
}

/* Gallery */
.gallery {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.gallery img {
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, rgb(240, 46, 46), transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
  80%{
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #1a0101;
  }
}

.mott-header {
  text-align: center;
  margin: 0 auto;
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, rgb(60, 1, 1), transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;
}

/* PILLAR */
.cta-background {
  background-size: cover;
  background-position: center center;
  bottom: 0;
  filter: blur(50px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.container {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
}

.cta {
  background: #333;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 400px;
}
     
.cta:hover img {
  top: -20%;
  filter: brightness(70%);
}

.cta:hover .text{
  bottom: 0;
}
  
.cta .pillar-img {
  bottom: 0;
  filter: brightness(100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  width: 115%;
}
  
.cta .text {
  bottom: -30%;
  padding: 15px;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.cta .text h2 {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
}

.cta .text p {
  color: #fff;
  font-weight: 300;
}