@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

main {
  background-color: rgb(239, 238, 238);
  width: 100%;
}

.red-background-image {
  background-image: url("/red-banner-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.odp_logo {
  width: 3rem;
  margin-left: 5px;
}

.nav-menu {
  font-weight: 300;
  color:white;
  font-size: 17px;
  margin-left: 1rem;
}

/* CAROUSEL */
/* @media all and (max-width: 480px) {} */
.image-carousel img {
  background-size:cover;
  transition: opacity 0.5s ease-in-out;
  margin-bottom: 2rem;
}

.fade img {
  opacity: 0.2;
  animation: fadeIn 0.2s ease-in-out forwards;
}

.header-title {
  font-size: 50px;
  font-weight: 600;
  text-align: center
}

.header-body {
  font-size: 20px;
  margin: 2rem 8rem;
  text-align: center;
}

/* factsSection */
.factsSection {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5rem auto;
  width: 60%;
}

/* QuickFacts */
.bg-img-qf {
  width: 100%;
  margin: auto;
  margin-bottom: 5rem;
  padding: 2rem;
  box-shadow: rgba(60, 1, 1, 0.4) 0px 0px 0px 3px, rgba(60, 1, 1, 0.3) 0px 0px 0px 6px, rgba(60, 1, 1, 0.2) 0px 0px 0px 9px, rgba(60, 1, 1, 0.1) 0px 0px 0px 12px, rgba(60, 1, 1, 0.05) 0px 0px 0px 15px;
}

/* CenterCAROUSEL */
.hs-carousel {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 0 auto;
}

.hs-carousel img {
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
}

.fade img {
  opacity: 0.2;
  animation: fadeIn 0.2s ease-in-out forwards;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, rgb(240, 46, 46), transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
  80%{
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #1a0101;
  }
}

.mott-header {
  line-height: 5rem;
  font-size: 45px;
  /* width: 45rem; */
  font-weight: 600;
  /* position: absolute; */

  text-align: center;
  margin: 0 auto;
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, rgb(60, 1, 1), transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;
}

/* PILLAR */
.cta-background {
  background-size: cover;
  background-position: center center;
  bottom: 0;
  filter: blur(50px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.pillar-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.container {
  height: auto;
  width: 100%;
  margin: 1rem;
}

.cta {
  background: #333;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 290px;
}
     
.cta:hover img {
  top: -20%;
  filter: brightness(70%);
}

.cta:hover .text{
  bottom: 0;
  color:rgb(60, 1, 1);
}
  
.cta .pillar-img {
  bottom: 0;
  filter: brightness(100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  width: 100%;
}
  
.cta .text {
  bottom: -60%;
  padding: 5px;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.cta .text h2 {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
}

.cta .text p {
  color: #fff;
  font-weight: 300;
}

.quick-title {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.quick-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
}

.partner-section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
}

.partner-section img {
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.partner-body {
  font-size: 15px;
  margin: 1rem 8rem;
  text-align: center;
}

.gallery-title {
  font-size: 50px;
  font-weight: 600;
  margin: 0 auto;
}

/* Social */
.ss-body {
  font-size: 20px;
  margin: 2rem 8rem;
  text-align: center;
}

/* Gallery */
.gallery {
  max-width: 45%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: relative;
}

.gallery img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  /* background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s ease-in-out; */
}

.gallery-body {
  font-size: 20px;
  margin-bottom: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 1060px) {
  .header-title {
    font-size: 40px;
  }

  .header-body {
    font-size: 15px;
    margin: 1rem 6rem;
  }

  .mott-header {
    font-size: 35px;
  }

  .quick-text {
    font-size: 15px;
  }

  .partner-section {
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
  }
  
  .partner-section img {
    width: 150px;
  }

  .gallery-body {
    font-size: 18px;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media (max-width: 900px) {
  .nav-menu {
    font-size: 14px;
  }

  .ss-body {
    font-size: 18px;
    margin: 2rem 6rem;
  }

  .gallery {
    width: 60%;
  }

  .partner-body {
    margin: 2rem 6rem;
  }
}

@media (max-width: 780px) {
  .odp_logo {
    width: 2rem;
    margin-left: 3px;
  }

  .mott-header {
    font-size: 25px;
  }

  .header-title {
    font-size: 30px;
  }

  .header-body {
    margin: 0.5rem 2rem;
  }

  .quick-title {
    font-size: 30px;
    margin-top: 1rem;
  }

  .quick-text {
    font-size: 15px;
  }

  .gallery-body {
    font-size: 16px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 660px) {
  .factsSection {
    margin: 3rem auto;
    width: 80%;
  }

  .nav-menu {
    font-size: 10px;
  }

  .container {
    width: 60%;
    margin: 0.5rem;
  }

  .cta {
    height: 250px;
    width: 250px;
  }

  .cta .text {
    bottom: -80%;
  }

  .mott-header {
    line-height: 3rem;
    font-weight: 500;
  }

  .ss-body {
    font-size: 15px;
    margin: 1.5rem 4rem;
  }

  .gallery {
    width: 60%;
  }

  .partner-section {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }

  .gallery-title {
    font-size: 40px;
    font-weight: 500;
  }
}

@media (max-width: 570px) {
  .header-title {
    font-size: 25px;
  }

  .header-body {
    font-size: 10px;
    margin: 1rem 4rem;
  }

  .quick-title {
    font-size: 30px;
  }

  .quick-text {
    font-size: 15px;
  }

  .mott-header {
    font-size: 20px;
    font-weight: 400;
  }

  .odp_logo {
    width: 1.5rem;
  }

  .cta {
    height: 250px;
    width: 240px;
  }

  .cta .text {
    bottom: -80%;
  }

  .ss-body {
    font-size: 12px;
    margin: 1rem 3rem;
  }

  .gallery {
    width: 70%;
  }
  
  .partner-section img {
    width: 125px;
  }

  .partner-body {
    margin: 0.5rem 4rem;
    font-size: 12px;
  }
}

@media (max-width: 510px) {
  .mott-header {
    font-size: 15px;
    font-weight: 300;
  }

  .nav-menu {
    font-size: 10px;
  }

  .odp_logo {
    width: 1rem;
  }

  .pillar-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .cta {
    height: 270px;
    width: 250px;
  }

  .cta .text {
    bottom: -75%;
  }

  .header-title {
    font-size: 30px;
  }

  .header-body {
    font-size: 15px;
    margin: 1rem 2rem;
  }

  .quick-text {
    font-size: 10px;
  }

  .quick-title {
    font-size: 25px;
  }

  .partner-body {
    margin: 0.5rem 2rem;
    font-size: 10px;
  }

  .gallery-title {
    font-size: 35px;
    font-weight: 400;
  }

  .gallery-body {
    font-size: 15px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .partner-section img {
    width: 100px;
  }
}

@media (max-width: 436px) {
  .nav-menu {
    font-weight: 200;
    font-size: 8px;
    margin-left: 0.5rem;
  }

  .odp_logo {
    margin-left: 2px;
  }

  .ss-body {
    font-size: 12px;
    margin: 1rem 2rem;
  }

  .gallery {
    width: 80%;
  }
}