.card-container {
    align-items: flex-start;
    flex-wrap: wrap;
    cursor: default;
  }

.card-item {
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    /* box-shadow: rgba(26, 26, 254, 0.903) 0px 1px 0px, rgba(5, 5, 112, 0.632) 0px 0px 8px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card-link {
    display: block;
    padding: 10px 20px;
    background-color: white;
    overflow: hidden;
    position: relative;

}

.card-link:hover,
.card-link:hover .cardID {
    text-decoration: none;
    color: white;
}

.card-link:hover,
.card-link:hover .card-name {
    text-decoration: none;
    color: white;
}

.card-link:hover,
.card-link:hover .card-info {
    text-decoration: none;
    color: white;
}

.card-link:hover,
.card-link:hover .cardID-container {
    text-decoration: none;
    color: white;
}

.card-link:hover .card-bg {
    transform: scale(10);
}

.card-name {
    margin: 0 0 5px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #1d0202;
    z-index: 2;
    position: relative;
}

.card-info {
  font-size: 15px;
  color: #1d0202;
  z-index: 2;
  position: relative;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: auto;
    margin: 10px 0 0 0;
    align-items: center;
}

.cardID-container {
    font-size: 18px;
    color: #1d0202;
    z-index: 2;
    position: relative;
}

.cardID {
    font-weight: bold;
    color: #1d0202;
    transition: color .5s ease;
}

.card-bg {
    height: 150px;
    width: 150px;
    background-color: #1d0202;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
}

.card-img {
    width: 100%;
    height: auto !important;
}

.card-link:hover,
.card-link:hover .card-button {
    text-decoration: none;
    background-color: white;
    color: #FFFFFF;
}

.card-button {
  appearance: button;
  background-color: #1d0202;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  z-index: 2;
}

.card-button:after {
  background-clip: padding-box;
  background-color: #1d0202;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.card-button:main,
.card-button:focus {
  user-select: auto;
}

.card-button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.card-button:disabled {
  cursor: auto;
}

.card {
    border-radius: 16px;
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
    min-height: 500px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-image: url("/odphi/public/members/infamous.webp");
    background-size: cover;
  }
  
  .info {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #fff;
    transform: translateY(100%)
      translateY(-88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("/odphi/public/members/infamous.webp");
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%)
      translateY(88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .card:hover .info,
  .card:hover .info:before {
    transform: translateY(0) translateZ(0);
  }
  
  .title {
    margin: 0;
    padding: 24px;
    font-size: 40px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .description {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 18px;
    line-height: 1.5;
  }

/* https://freefrontend.com/css-cards/ */
